<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<div id="projects">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Links</th>
    </tr>
    </thead>
    <tbody>
    <% @projects.each do |project| %>
      <%= render project %>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New project", new_project_path %>
