<% if user_signed_in? %>
  <div class="border-end col-auto col-md-3 col-xl-2 px-sm-2 px-0 ">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
      <br/>
      <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
          <a href="/" class="nav-link align-middle px-0">
            <span class="ms-1 d-none d-sm-inline">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/projects" class="nav-link align-middle px-0">
            <span class="ms-1 d-none d-sm-inline">Projects</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/members" class="nav-link align-middle px-0">
            <span class="ms-1 d-none d-sm-inline">Team Members</span>
          </a>
        </li>
        <li>

        </li>
      </ul>
    </div>
  </div>
<% end %>